:root {
  --primarycolor: hsl(199, 100%, 33%);
  --secondarycolor: hsl(187, 85%, 43%);
  --gradientcolor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whitecolor: hsl(0, 0%, 100%);
  --blackcolor: hsl(201, 33%, 16%);
  --textcolor: hsl(240, 4%, 36%);
  --whitecolordeam: hsl(0, 0%, 93%);
  --greytext: rgb(190, 190, 190);
  --inputcolor: rgb(239, 239, 239);
  --bodycolor: rgb(240, 240, 246);
  --cardbg: rgb(225, 225, 235);
  --cardhover: rgb(255, 255, 255);
}

.us {
  display: grid;
}

.about h1 {
  margin-left: 1rem;
}

.us h3 {
  text-align: center;
  margin-top: 1rem;
  color: var(--primarycolor);
}
.us p {
  padding: 0 2rem 0 2rem;
  text-align: center;
  color: var(--textcolor);
  font-weight: 200;
}
@media screen and (min-width: 500px) {
  .footer {
    display: grid;
  }
}

@media screen and (min-width: 840px) {
  .us {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .about h1 {
    margin-left: 1rem;
    color: var(--blackcolor);
  }

  .us h3 {
    text-align: center;
    margin-top: 1rem;
    color: var(--primarycolor);
  }
  .us p {
    text-align: center;
    color: var(--textcolor);
    font-weight: 200;
  }

  @media screen and (min-width: 1240px) {
    .footer {
      display: flex;
    }
  }
}
